{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Lebonfork</h1>
    <p>Lorem ipsum</h1>
</div>

<div class="container">
    <h2>Les derniers biens</h2>

    <div class="row flex">
        {% for product in products %}
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="">
                            <a href="{{ path('product.show', { 'id': product.id, 'slug': product.slug }) }}"> {{ product.name }}</a>
                        </h5>
                        <p class="card-text">{{ product.description }}</p>
                        <div class="text-danger" style="font-weight: bold; font-size: 3rem">{{ product.price }} $</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}