{% extends 'base.html.twig' %}

{% block title 'Admin' %}

{% block body %}

<div class="container mt-4">
    <h2>Editer le bien</h2>
    
        {{ include('admin/product/_form.html.twig', {form: form, button: 'Editer'} )}}
           
    </table>
</div>
{% endblock %}