{% extends 'base.html.twig' %}

{% block title 'Admin' %}

{% block body %}

<div class="container mt-4">
    <h2>Gérer les biens</h2>
    
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
        {{ message }}
        </div>
    {% endfor %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
             <tr>
                <td>{{ product.name }}</td>
                <td>
                    <a href="{{ path('admin.product.edit', {'id': product.id }) }}" class="btn btn-secondary">Editer</a>
                    <form action="{{ path('admin.product.delete', {'id': product.id} )}}" method="post" 
                        style="display:inline-block" onsubmit="return confirm('Etes-vous sur ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id )}}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-right">
    <a href="{{ path('admin.product.new') }}">Nouveau</a>
</div>
{% endblock %}